@font-face {
  font-family: 'Source Sans';
  src: url('/fonts/sourcesans3-regular-subset.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans';
  src: url('/fonts/sourcesans3-it-subset.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans';
  src: url('/fonts/sourcesans3-bold-subset.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/sourcecodepro-regular-subset.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*
* to reduce CLS
* values taken from https://github.com/khempenius/font-fallbacks-dataset/blob/main/font-metric-overrides.csv#L2979
*/
@font-face {
  font-family: 'Source Sans fallback';
  src: local('Arial');
  ascent-override: 98.4%;
  descent-override: 27.3%;
  line-gap-override: 0%;
}
