@import './fonts.css';
@import './livekit.css';
@layer reset, base, tokens, recipes, utilities;
html,
body,
#root {
  height: 100%;
}

* {
  outline: 2px solid transparent;
}

[data-rac][data-focus-visible]:not(label, .react-aria-Select),
:is(a, button, input[type='text'], select, textarea):not(
    [data-rac]
  ):focus-visible {
  outline: 2px solid var(--colors-focus-ring);
  outline-offset: 1px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body:has(.lk-video-conference) #crisp-chatbox > div > a {
  display: none !important;
}

@keyframes slide-full {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/**
 * Loader animations.
 */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
