/* based on https://github.com/livekit/components-js/blob/main/packages/styles/scss/themes/default.scss
for now only "visio-light" is actually used
*/
[data-lk-theme='visio-dark'] {
  color-scheme: dark;
  --lk-bg: #111;
  --lk-bg2: #1e1e1e;
  --lk-bg3: #2b2b2b;
  --lk-bg4: #373737;
  --lk-bg5: #444444;
  --lk-fg: #fff;
  --lk-fg2: whitesmoke;
  --lk-fg3: #ebebeb;
  --lk-fg4: #e0e0e0;
  --lk-fg5: #d6d6d6;
  --lk-border-color: rgba(255, 255, 255, 0.1);
  --lk-accent-fg: #fff;
  --lk-accent-bg: #1f8cf9;
  --lk-accent2: #3396fa;
  --lk-accent3: #47a0fa;
  --lk-accent4: #5babfb;
  --lk-danger-fg: #fff;
  --lk-danger: #842029;
  --lk-danger2: #b02a37;
  --lk-danger3: #dc3545;
  --lk-danger4: #e35d6a;
  --lk-success-fg: #fff;
  --lk-success: #146c43;
  --lk-success2: #198754;
  --lk-success3: #479f76;
  --lk-success4: #75b798;
  --lk-control-fg: var(--lk-fg);
  --lk-control-bg: var(--lk-bg2);
  --lk-control-hover-bg: var(--lk-bg3);
  --lk-control-active-bg: var(--lk-bg4);
  --lk-control-active-hover-bg: var(--lk-bg5);
  --lk-connection-excellent: #198754;
  --lk-connection-good: #fd7e14;
  --lk-connection-poor: #dc3545;
  --lk-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --lk-font-size: 16px;
  --lk-line-height: 1.5;
  --lk-border-radius: 0.5rem;
  --lk-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  --lk-grid-gap: 0.5rem;
  --lk-control-bar-height: 69px;
  --lk-chat-header-height: 69px;

  --lk-bg6: #777;
  --lk-control-border-width: 1px;
  --lk-control-border-color: var(--lk-bg5);
  --lk-control-border: var(--lk-control-border-color);
  --lk-control-hover-border: var(--lk-bg6);
}

[data-lk-theme='visio-light'] {
  color-scheme: light;
  --lk-bg: #fff;
  --lk-bg2: #f3f4f6;
  --lk-bg3: #e5e7eb;
  --lk-bg4: #d1d5db;
  --lk-bg5: #9ca3af;
  --lk-fg: #111;
  --lk-fg2: #18181b;
  --lk-fg3: #27272a;
  --lk-fg4: #3f3f46;
  --lk-fg5: #52525b;
  --lk-border-color: rgba(255, 255, 255, 0.1);
  --lk-accent-fg: #fff;
  --lk-accent-bg: #1f8cf9;
  --lk-accent2: #3396fa;
  --lk-accent3: #47a0fa;
  --lk-accent4: #5babfb;
  --lk-danger-fg: var(--lk-fg);
  --lk-danger: #f8d7da;
  --lk-danger2: #f1aeb5;
  --lk-danger3: #ea868f;
  --lk-danger4: #e35d6a;
  --lk-success-fg: #fff;
  --lk-success: #146c43;
  --lk-success2: #198754;
  --lk-success3: #479f76;
  --lk-success4: #75b798;
  --lk-control-fg: var(--lk-fg);
  --lk-control-bg: var(--lk-bg2);
  --lk-control-hover-bg: var(--lk-bg3);
  --lk-control-active-bg: var(--lk-bg4);
  --lk-control-active-hover-bg: var(--lk-bg5);
  --lk-connection-excellent: #198754;
  --lk-connection-good: #fd7e14;
  --lk-connection-poor: #dc3545;
  --lk-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --lk-font-size: 16px;
  --lk-line-height: 1.5;
  --lk-border-radius: 0.5rem;
  --lk-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  --lk-grid-gap: 0.5rem;
  --lk-control-bar-height: 69px;
  --lk-chat-header-height: 69px;

  --lk-bg6: #6b7280;
  --lk-control-border-width: 1px;
  --lk-control-border-color: var(--lk-bg5);
  --lk-control-border: var(--lk-control-border-color);
  --lk-control-hover-border: var(--lk-bg6);
}

[data-lk-theme] {
  background-color: var(--lk-bg);
}

.lk-button,
.lk-start-audio-button,
.lk-chat-toggle,
.lk-disconnect-button {
  border-color: var(--lk-control-border);
  border-width: var(--lk-control-border-width);
  border-style: solid;
}

.lk-button-group > .lk-button {
  border-right-color: transparent;
}

.lk-button-group > .lk-button-group-menu > .lk-button {
  border-left-color: transparent;
}
.lk-button:not(:disabled):hover,
.lk-start-audio-button:not(:disabled):hover,
.lk-chat-toggle:not(:disabled):hover {
  border-color: var(--lk-control-hover-border);
}

.lk-disconnect-button {
  --lk-control-border: var(--lk-danger3);
}

.lk-disconnect-button:not(:disabled):hover {
  --lk-control-hover-bg: var(--lk-danger2);
}

.lk-prejoin {
  padding-top: 0;
}
