image:
  repository: lasuite/meet-backend
  pullPolicy: Always
  tag: "main"

backend:
  migrateJobAnnotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
  envVars:
    DJANGO_CSRF_TRUSTED_ORIGINS: http://visio-staging.beta.numerique.gouv.fr,https://meet-staging.beta.numerique.gouv.fr
    DJANGO_CONFIGURATION: Production
    DJANGO_ALLOWED_HOSTS: visio-staging.beta.numerique.gouv.fr
    DJANGO_SECRET_KEY:
      secretKeyRef:
        name: backend
        key: DJANGO_SECRET_KEY
    DJANGO_SETTINGS_MODULE: meet.settings
    DJANGO_SUPERUSER_EMAIL:
      secretKeyRef:
        name: backend
        key: DJANGO_SUPERUSER_EMAIL
    DJANGO_SUPERUSER_PASSWORD:
      secretKeyRef:
        name: backend
        key: DJANGO_SUPERUSER_PASSWORD
    DJANGO_EMAIL_HOST: "snap-mail.numerique.gouv.fr"
    DJANGO_EMAIL_PORT: 465
    DJANGO_EMAIL_USE_SSL: True
    OIDC_OP_JWKS_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/jwks
    OIDC_OP_AUTHORIZATION_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/authorize
    OIDC_OP_TOKEN_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/token
    OIDC_OP_USER_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/userinfo
    OIDC_OP_LOGOUT_ENDPOINT: https://fca.integ01.dev-agentconnect.fr/api/v2/session/end
    OIDC_RP_CLIENT_ID:
      secretKeyRef:
        name: backend
        key: OIDC_RP_CLIENT_ID
    OIDC_RP_CLIENT_SECRET:
      secretKeyRef:
        name: backend
        key: OIDC_RP_CLIENT_SECRET
    OIDC_RP_SIGN_ALGO: RS256
    OIDC_RP_SCOPES: "openid email given_name usual_name"
    OIDC_REDIRECT_ALLOWED_HOSTS: https://visio-staging.beta.numerique.gouv.fr
    OIDC_AUTH_REQUEST_EXTRA_PARAMS: "{'acr_values': 'eidas1'}"
    LOGIN_REDIRECT_URL: https://visio-staging.beta.numerique.gouv.fr
    LOGIN_REDIRECT_URL_FAILURE: https://visio-staging.beta.numerique.gouv.fr
    LOGOUT_REDIRECT_URL: https://visio-staging.beta.numerique.gouv.fr
    DB_HOST:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: host
    DB_NAME:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: database
    DB_USER:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: username
    DB_PASSWORD:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: password
    DB_PORT:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: port
    POSTGRES_USER:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: username
    POSTGRES_DB:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: database
    POSTGRES_PASSWORD:
      secretKeyRef:
        name: postgresql.postgres.libre.sh
        key: password
    REDIS_URL:
      secretKeyRef:
        name: redis.redis.libre.sh
        key: url
    STORAGES_STATICFILES_BACKEND: django.contrib.staticfiles.storage.StaticFilesStorage
    LIVEKIT_API_SECRET:
      secretKeyRef:
        name: backend
        key: LIVEKIT_API_SECRET
    LIVEKIT_API_KEY:
      secretKeyRef:
        name: backend
        key: LIVEKIT_API_KEY
    LIVEKIT_API_URL: https://livekit-staging.beta.numerique.gouv.fr
    ALLOW_UNREGISTERED_ROOMS: False
    FRONTEND_ANALYTICS: "{'id': 'phc_RPYko028Oqtj0c9exLIWwrlrjLxSdxT0ntW0Lam4iom', 'host': 'https://product.visio-staging.beta.numerique.gouv.fr'}"
    FRONTEND_SUPPORT: "{'id': '58ea6697-8eba-4492-bc59-ad6562585041'}"
    AWS_S3_ENDPOINT_URL:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: url
    AWS_S3_ACCESS_KEY_ID:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: accessKey
    AWS_S3_SECRET_ACCESS_KEY:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: secretKey
    AWS_STORAGE_BUCKET_NAME:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: bucket
    AWS_S3_REGION_NAME: local
    RECORDING_ENABLE: True
    RECORDING_STORAGE_EVENT_ENABLE: True
    RECORDING_STORAGE_EVENT_TOKEN:
        secretKeyRef:
            name: backend
            key: RECORDING_STORAGE_EVENT_TOKEN

  createsuperuser:
    command:
      - "/bin/sh"
      - "-c"
      - |
        python manage.py createsuperuser --email $DJANGO_SUPERUSER_EMAIL --password $DJANGO_SUPERUSER_PASSWORD
    restartPolicy: Never

frontend:
  image:
    repository: lasuite/meet-frontend
    pullPolicy: Always
    tag: "main"

ingress:
  enabled: true
  host: visio-staging.beta.numerique.gouv.fr
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  tls:
    enabled: true
    additional:
      - secretName: transitional-tls
        hosts:
          - {{ .Values.newDomain }}

ingressAdmin:
  enabled: true
  host: visio-staging.beta.numerique.gouv.fr
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy-preprod.beta.numerique.gouv.fr/oauth2/start
    nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy-preprod.beta.numerique.gouv.fr/oauth2/auth
  tls:
    enabled: true
    additional:
      - secretName: transitional-tls
        hosts:
          - {{ .Values.newDomain }}

posthog:
  ingress:
    enabled: true
    host: product.visio-staging.beta.numerique.gouv.fr
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/upstream-vhost: eu.i.posthog.com
      nginx.ingress.kubernetes.io/backend-protocol: https

  ingressAssets:
    enabled: true
    host: product.visio-staging.beta.numerique.gouv.fr
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/upstream-vhost: eu-assets.i.posthog.com
      nginx.ingress.kubernetes.io/backend-protocol: https

summary:
  replicas: 1
  envVars:
    APP_NAME: summary-microservice
    APP_API_TOKEN:
      secretKeyRef:
        name: summary
        key: APP_API_TOKEN
    AWS_S3_ENDPOINT_URL:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: url
    AWS_S3_ACCESS_KEY_ID:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: accessKey
    AWS_S3_SECRET_ACCESS_KEY:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: secretKey
    AWS_STORAGE_BUCKET_NAME:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: bucket
    AWS_S3_REGION_NAME: local
    OPENAI_API_KEY:
      secretKeyRef:
        name: summary
        key: OPENAI_API_KEY
    WEBHOOK_API_TOKEN:
      secretKeyRef:
        name: summary
        key: WEBHOOK_API_TOKEN
    WEBHOOK_URL: https://www.mock-impress.com/webhook/
    CELERY_BROKER_URL:
      secretKeyRef:
        name: redis-summary.redis.libre.sh
        key: url
    CELERY_RESULT_BACKEND:
      secretKeyRef:
        name: redis-summary.redis.libre.sh
        key: url

  image:
    repository: lasuite/meet-summary
    pullPolicy: Always
    tag: "main"

celery:
  replicas: 1
  envVars:
    APP_NAME: summary-microservice
    APP_API_TOKEN:
      secretKeyRef:
        name: summary
        key: APP_API_TOKEN
    AWS_S3_ENDPOINT_URL:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: endpoint
    AWS_S3_ACCESS_KEY_ID:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: accessKey
    AWS_S3_SECRET_ACCESS_KEY:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: secretKey
    AWS_STORAGE_BUCKET_NAME:
      secretKeyRef:
        name: meet-media-storage.bucket.libre.sh
        key: bucket
    AWS_S3_REGION_NAME: local
    OPENAI_API_KEY:
      secretKeyRef:
        name: summary
        key: OPENAI_API_KEY
    WEBHOOK_API_TOKEN:
      secretKeyRef:
        name: summary
        key: WEBHOOK_API_TOKEN
    WEBHOOK_URL: https://www.mock-impress.com/webhook/
    CELERY_BROKER_URL:
      secretKeyRef:
        name: redis-summary.redis.libre.sh
        key: url
    CELERY_RESULT_BACKEND:
      secretKeyRef:
        name: redis-summary.redis.libre.sh
        key: url
    SENTRY_IS_ENABLED: True
    SENTRY_DSN: https://5aead03f03505da5130af6d642c42faf@sentry.incubateur.net/202

  image:
    repository: lasuite/meet-summary
    pullPolicy: Always
    tag: "main"

  command:
    - "celery"
    - "-A"
    - "summary.core.celery_worker"
    - "worker"
    - "--pool=solo"
    - "--loglevel=info"
